.App {
  text-align: center;
  font-family: "Raleway";
}

footer {
  background: #222222;
  padding: 10px 30px 10px 30px;
  color: #efefef;
}

html,
body {
  margin: 0px !important;
  padding: 0px !important;

  scrollbar-width: thin;
  scrollbar-color: #222222 #e6e6e6;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #e6e6e6;
  }

  ::-webkit-scrollbar-thumb {
    background: #222222;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #222222;
  }
}
