.vertical-timeline-element-content .vertical-timeline-element-date {
	text-align: left;
}

ul li {
	padding: 5px 0px;
}

.Card {
	color: #fff;
	text-align: left;
	.subtitle {
		color: #ffffff;
	}

	.detailsheader {
		font-weight: 500;
		font-size: 1.2rem;
	}
}
