.skills {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;

  .head {
    color: #555555;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 45px;
    stroke: 3px;
  }

  .sub {
    margin-bottom: 30px;
    color: #555555;
    font-weight: 600;
  }
}

.skill-card {
  background: transparent;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  will-change: transform;

  &:hover {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 4px rgba(0, 0, 0, 0.5));
  }
}

.card-img {
  width: 80%;
}

.caption {
  text-align: center;
  color: #000;
  font-weight: 600;
  position: relative;
  top: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 800px) {
  .skills {
    .head {
      font-size: 35px;
      stroke: 1px;
    }
  }

  .caption {
    font-size: 8px;
  }
}
